@model User
@{
    ViewData["Title"] = "Manage Quotes";
    
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <h4>@Model.UserName</h4>
    <p>@Model.MyQuotes.Count Quotes</p>
    @{
        foreach (var quote in Model.MyQuotes)
        {
            var author = quote.Author ?? Model.UserName;
            <p><i>@quote.Quote <b>@author</b></i></p>
        }
    }
</div>