@model User
@{
    ViewData["Title"] = "Manage Quotes";
    
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <h4>@Model.UserName</h4>
    <button type="button" class="btn btn-primary m-2" onclick="location.href='/ManageQuotes/Add'">Add Quote</button>
    <p>You have @Model.MyQuotes.Count Quotes</p>
    @{
        foreach (var quote in Model.MyQuotes)
        {
            var author = quote.Author ?? Model.UserName;
            <p><i>@quote.Quote <b>@author</b></i>
                <button type="button" class="btn btn-warning m-2" onclick="location.href='/ManageQuotes/Edit/@quote.QuoteId'">Edit</button>
            </p>
        }
    }
</div>